<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes List</title>
</head>
<body>
    <h1>Recipes</h1>
    <ul>
        <% if (recipes) { %>
            <% recipes.forEach(recipe => { %>
                <li>
                    <%= recipe.title %>
                    <ul>
                        <% if (recipe.ingredients) { %>
                            <% recipe.ingredients.forEach(ingredient => { %>
                                <li><%= ingredient %></li>
                            <% }); %>
                        <% } %>
                    </ul>
                </li>
            <% }); %>
        <% } else { %>
            <p>No recipes found!</p>
        <% } %>
    </ul>
</body>
</html>
